#navbar-mobile-view{
    color: linear-gradient( #9d0000, #0aeb2c,#b6e81e);
    
}
#mobile-view-navbar-system{
    backdrop-filter: blur(3px);
    padding-right: 3px;
    padding-left: 2px;
    margin-right: 100px;
}
#home {
    width: max-content;
    position: relative; 
    cursor: pointer;
    margin-left: 100px auto;
    margin-right: 100px auto;
    text-decoration: none;
}

#home::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 0;
    border-radius: 50px;
    background-color: rgb(88, 138, 246);
    transition: width 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);

}

#home:hover:before {
    width: 100%;
    transform: scaleX(1);
}

#fontsize {
    font-size: 25px;
}

#blur {
    backdrop-filter: blur(3px);
    padding-right: 3px;
    padding-left: 2px;
}